/* CSS Demo Stylesheet */
/*color theme: #2FED48 #2FEDC8 #2FED88 #61ED2F #2FD3ED #84F5B8 */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
/*  ---------------Responsive Images-----------------  */

img{
  max-width:100%;
}

/*  ---------------Utility Classes-----------------  */

.container{
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

/*  ---------------Global Styles-----------------  */

body{
    font-family: "Cinzel", serif;
    margin:0;
}

header.primary{
background-color: #2FED48;
color:#ffffff;
text-shadow: 1px 1px #000000;
/*long form*/
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;


/*single value shorthand*/
padding: 40px;

/* T,R,B,L clockwise from top */
padding: 20px 40px 20px 40px;

/* 2 value Top/Bottom / L/R */
padding: 20px 40px;
text-align:center;

}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0 0;
}

header.primary h1 a {
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.2rem;
  margin:0;
}

/*nav.primary works too*/

nav.primary{
  max-width: 960px;
  margin:auto;
}
nav.primary ul{
  padding:10px 0 0 0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
nav.primary ul li{
  list-style-type:none;
}
nav.primary ul li a{
  color:#ffffff;
  text-decoration:none;
  border: 5px dashed #2FEDC8;
  padding: 7.5px 10px;
  border-radius:20px;
  background-color: rgba(0,0,0,.6);
  transition: 0.4s;
}

nav.primary ul li a:hover{
  background-color: rgba(0,0,0,1);
}

#intro{
  line-height:1.6;
}

#intro h2{
  color: #2FEDC8;
  border-bottom: 1px solid #2FED88;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
}

time.post-date, figcaption{
  text-transform:uppercase;
  color:#2FED48;
}

#content a {
  color:#2FED48;
}

#content article.post figure{
  margin:0;
}





/*--------Media Queries--------*/

@media screen and (max-width:650px){
  nav.primary ul{
    flex-direction:column;
    gap:10px;
    max-width: 250px;
    margin:10px auto;
}

nav.primary ul a{
display:block;
  }

}