/* CSS Demo Stylesheet */
/*color theme: #2FED48 #2FEDC8 #2FED88 #61ED2F #2FD3ED #84F5B8 */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
/*  ---------------Responsive Images-----------------  */

img{
  max-width:100%;
}

/*  ---------------Utility Classes-----------------  */

.container{
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

.img-right {
  float: right;
  margin:10px 0 10px 0;
  border:1px solid #ccc;
  padding:5px;
  border-radius:50px;
}

.img-left {
  float: left;
  margin:10px 0 10px 0;
  border:1px solid #ccc;
  padding:5px;
  border-radius:50px;
}

.img-center {
  display:block;
  margin:20px auto;
  border:1px solid #ccc;
  padding:5px;
  border-radius:50px;
}


/*  ---------------Global Styles-----------------  */

body{
    font-family: "Cinzel", serif;
    margin:0;
}

header.primary{
background-color: #2FED48;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%2384F5B8' fill-opacity='1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
color:#ffffff;
text-shadow: 1px 1px #000000;
/*long form*/
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;


/*single value shorthand*/
padding: 40px;

/* T,R,B,L clockwise from top */
padding: 20px 40px 20px 40px;

/* 2 value Top/Bottom / L/R */
padding: 20px 40px;
text-align:center;

}

header.primary h1{
  font-size: 2.4rem;
  margin:20px 0 0 0;
}

header.primary h1 a {
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.2rem;
  margin:0;
}

/*nav.primary works too*/

nav.primary{
  max-width: 960px;
  margin:auto;
}
nav.primary ul{
  padding:10px 0 0 0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
nav.primary ul li{
  list-style-type:none;
}
nav.primary ul li a{
  color:#ffffff;
  text-decoration:none;
  border: 5px dashed #2FEDC8;
  padding: 7.5px 10px;
  border-radius:20px;
  background-color: rgba(0,0,0,.6);
  transition: 0.4s;
}

nav.primary ul li a:hover{
  background-color: rgba(0,0,0,1);
}

#intro{
  line-height:1.6;
}

#intro h2{
  color: #2FEDC8;
  border-bottom: 1px solid #2FED88;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:2rem;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2.6rem 0;
}

#content article.post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
  transition:.4s;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.6);
}

time.post-date, figcaption{
  text-transform:uppercase;
  color:#2FED48;
}

#content a {
  color:#2FED48;
}

#content article.post figure{
  margin:0;
}


#practice h2{
  color:#2FED48;
  botder-bottom: 1px dotted #84F5B8;
}

#practice a{
  color: #61ED2F;
  transition:.4s;
}

#practice a:hover{
text-decoration:none;
transition:.4s;
}


#practice h3{
  border-left:7.5px solid #61ED2F;
  padding:3.5px 10px;

}

table{
  width:100;
  border: 1px solid #cccccc;
  margin:20px 0;
  border-collapse:collapse;
}
caption{
  font-weight:bold;
  margin:10px;

}
tr:nth-child(even){
  background-color:rgba(0, 0, 0, 0.2);
}
tr:hover{
  background-color: rgba(0, 0, 0, 0.4);
}
td:nth-child(n + 2){
  text-align:right;
}
th{
  background-color: #2FED88;
  color: #fff;
  padding:7.5px;
}
td{
  border:1px solid #ccc;
  padding:5px;
}



aside[role="complementary"]{
  background-color: #2FD3ED;
  color:#ffffff;
  padding:40px 0;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  gap:60px;
}

aside a{
  color:#ffffff;
}

aside a:last-of-type{
  color:#ffffff;
  display:block;
  margin-top:20px;
  text-align:right;
}

aside .widget footer{
  display:none;
}

footer#colophon.primary{
  background-color: #2FED48;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%2384F5B8' fill-opacity='1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
padding:1px;
}

/*--------Media Queries--------*/

@media screen and (max-width:650px){
  nav.primary ul{
    flex-direction:column;
    gap:10px;
    max-width: 250px;
    margin:10px auto;
}

nav.primary ul a{
display:block;
  }
  aside .container{
    flex-direction:column;
    gap:60px;
  }
}

@media screen and (max-width:500px){
  #content{
    flex-direction:column;
  }
}