/* CSS Demo Stylesheet */
/*color theme:         */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*  ---------------Global Styles-----------------  */

body{
    font-family: "Cinzel", serif;
}

header.primary{
    background:red;
}